.ground{
    background-color: rgb(1, 19, 36);
}
.text{
    color: white;
    font-family: monospace;
    margin-left: 80px;
}
.button{
    background-color: gold;
    border-radius: 4px;
    color: rgb(0, 0, 0);
    border-color: black;
    height: 30px;
    width: 200px;
    position: absolute;
    margin-left: 80px;
    font-family: monospace;
    font-size: 20px;
}
